.man_landing{
    height: 90vh;
    max-height: 1080px;
    overflow: hidden;
    position: relative;
}

.Intro{
    position: absolute;
    top: 20%;
    right: 10%;
}

.main-man img{
    height: 80%;
}
.effect-front{
    top: 30%;
}

.effect-back{
    top: 10%;
    right: 12%;
    z-index: -1;
}

.title{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.title h3{
    font-family: 'Nunito', sans-serif;
    font-size:4rem;
    color: #9338D0;
}

.title h1{
    font-family: 'Nunito', sans-serif;
    font-size:6rem;
    color: #545156;
}

.icon-search{
    margin-right:5px;
}

.title span{
    font-family: 'Prompt', sans-serif;
    font-size:1.2rem;
    color: #545156;
}

.title-text{
    margin-bottom: -0.5rem;
}
.gt-findPage-btn{
    margin-top: 1rem;
    display: flex;
    padding: 0.2rem;
    width: 200px;
    height: 60px;
    align-items: center;
    font-size: 1.2em;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color:white;
    background: #9338D0;
    border-radius: 70px;
}

.wrapper{
    padding :30px;
}

.content{
    height: 250px;
    width: 100%;
    margin-top: 20px;
    border-radius: 18px;
    color:white;
    display: flex;
    padding :30px;
    font-family: 'Prompt', sans-serif;
    background: linear-gradient(-90deg, #8828C7, #AC5AE2);
}

.sub-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.sub-content h2{
    font-family: 'Nunito', sans-serif;
    margin-bottom: -3px;
}

.sub-content:nth-child(1){
    width: 30%;
}

